.header {
  /* background-color: blue; */
  display: flex;
  justify-content: space-between;
}
.button {
  margin-top: 40px;
  margin-right: 40px;
}
#go-button {
  background-color: red;
}
#search-term-card {
  height: 120px;
  padding: 10px;
}

@media screen and (max-width: 600px) {
  .header {
    display: block;
    width: 50%;
  }
}

#youtube-container {
  width: 853px;
  height: 480px;
}

@media screen and (max-width: 600px) {
  .youtube-container iframe {
    width: 500px;
    height: 280px;
  }
}

/* @media screen and (min-width: 700px) {
  .youtube-container iframe {
    width: 853px;
    height: 480px;
  }
} */
